<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp layout</title>

    <style>

    </style>

</head>

<body class="debug">



    <div id="app">
        <div class="left">
            <div class="user_profile">
                <div class="img-link-user">
                    <img class="img" src="./assets/img/avatar_io.jpg" width="50px" alt="">
                    <ul class="list-profile">
                        <li><a href="" class="list"> <i class="fa-solid fa-circle-notch"></i></a></li>
                        <li><a href="" class="list"><i class="fa-solid fa-message"></i></a></li>
                        <li><a href="" class="list"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                    </ul>
                </div>


            </div>
            <!-- /.user_profile -->
            <div class="notifications">
                <div class="notifications-container">
                    <div class="silent">
                        <nav class="color"> <i class="fa-solid fa-bell-slash"></i></nav>
                    </div>
                    <nav class="notifications-messages">Ricevi notifiche di nuovi messaggi <br>
                        <section class="notification-desktop"> Attiva le notifiche desktop</section>
                    </nav>
                </div>
            </div>
            <!-- /.notifications -->


            <div class="search">
                <div class="container-search">
                    <nav id="c-gray" class="m-left"><i class="fa-solid fa-magnifying-glass"></i></nav>
                    <div class="p-l">
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>


            </div>
            <!-- /.search -->


            <div class="contacts_list">
                <div class="container-list" v-for="contact in contacts" >
                    <img class="img" :src="contact.avatar" width="50px" alt="">
                    <div class="display-left-none">
                        <nav> {{contact.name}} <br>
                            <section id="c-gray" class="font">Lorem ipsum dolor sit amet</section>
                        </nav>
                        <div class="hours">16:15</div>
                    </div>
                </div>
            </div>
            <!-- /.contacts_list -->

        </div>
        <div class="right">
            <div class="contact_profile">
                <div class="img-contact">
                    <img class="img" src="./assets/img/avatar_1.jpg" width="50px" alt="">
                    <nav class="p-10"> Michele <br>
                        <section id="c-gray">Ultimo accesso oggi alle 16:26</section>
                    </nav>
                </div>
                <div class="link-contact">
                    <ul class="list-profile">
                        <li><a href="" class="list"> <i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li><a href="" class="list"><i class="fa-solid fa-paperclip"></i></a></li>
                        <li><a href="" class="list"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </li>
                    </ul>
                </div>








            </div>
            <!-- /.contact_profile -->
            <div class="chat">


                <div class="sent" v-for="contact in contacts">
                    <div class="d-f" v-for="(message, index) in contact.messages">
                        <p>{{message.message}}</p>

                        

        

                        <nav>&#9662
                            <div class="list-sent">
                                <ul>
                                    <li class="d-n">
                                        Info messaggio
                                    </li>
                                    <li class="d-n">
                                        Cancella messaggio
                                    </li>
                                </ul>
                            </div>
                        </nav>

                    </div>
                    <div class="hours hours-chat">
                        16:13
                    </div>
                </div>
                <!-- /.sent -->
                <div class="received" v-for="contact in contacts">
                    <div class="d-f" v-for="message in contact.messages">
                    <p>{{message.message}}</p>
                        <nav>&#9662
                            <div class="list-sent">
                                <ul>
                                    <li class="d-n">
                                        Info messaggio
                                    </li>
                                    <li class="d-n">
                                        Cancella messaggio
                                    </li>
                                </ul>
                            </div>
                        </nav>


                    </div>
                    <div class="hours hours-chat">
                        16:15

                    </div>
                </div>
                <!-- /.received -->

            </div>
            <!-- /.chat -->


            <div class="prompt">
                <div class="container-prompt">
                    <section class="list"> <i class="fa-regular fa-face-smile"></i> </section>
                    <div class="text">
                        <input class="ciao" type="text" placeholder="Scrivi un messaggio">

                    </div>
                    <section class="list"><i id="font-x-lg" class="fa-solid fa-microphone"></i> </section>
                </div>
            </div>
            <!-- /.prompt -->
        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>


