* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bz-blocks-height: 70px;
    background-image: linear-gradient(#009688 20%, #DCDBD2 20%);
}

.debug * {}

.debug {
    .user_profile {
        background-color: #EAEAEA;
    }

    .notifications {
        background-color: #8EDAFC;

    }

    .search {
        background-color: #EAEAEA;
        display: flex;
    }

    .contacts_list {
        background-color: paleturquoise;
    }


    .contact_profile {
        background-color: #EAEAEA;
    }

    .chat {
        background-image: url(/vue-boolzapp/assets/img/mine.jpg);

        >div {
            width: 340px;
        }
    }

    .prompt {
        display: flex;
        background-color: #F3EEEA;
    }
}



body {
    height: 100vh;
    background-image: linear-gradient(#009688 20%, #DCDBD2 20%);
    overflow: hidden;


}



#app {
    height: 95vh;
    margin: 1rem auto 2rem;
    max-width: 1200px;
    display: flex;

    @media (max-width: 991px) {
        height: 100%;
        margin: 0;
    }


    .left {
        width: 320px;
        height: 100%;



        &>div:not(:nth-child(4)) {
            height: var(--bz-blocks-height);
        }

        &> :nth-child(4) {
            height: calc(100% - (var(--bz-blocks-height) * 3));
            overflow-y: scroll;
        }



        @media screen and (max-width: 991px) {
            width: 120px;

            &>.notifications,
            &>.search {
                display: none;
            }

            &>.contacts_list {
                height: calc(100% - 70px);
            }


            .list-profile {
                display: none;
            }

            .img-link-user {
                display: flex;
                justify-content: center;
            }

            .display-left-none {
                display: none;
            }



        }

        @media screen and (max-width: 540px) {
            display: none;
        }



    }

    .right {
        flex-grow: 1;


        >.contact_profile,
        >.prompt {
            height: 70px;
        }

        >.chat {
            height: calc(100% - 140px);
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            padding: 2rem;

            &>div {
                min-height: 140px;
            }

            >.sent {
                align-self: flex-end;
                background-color: #D5F9BA;
                border-radius: 1rem;
                padding: 0.5rem;

            }

            >.received {
                align-self: flex-start;
                background-color: white;
                border-radius: 1rem;
                padding: 0.5rem;
            }

        }


    }

}


.img-link-user {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}



.list-profile {
    list-style: none;
    display: flex;
}

.list {
    text-decoration: none;
    color: grey;
    padding: 10px;
    font-size: x-large;
}


.img-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 50%;
}


.p-10 {
    padding: 5px;
}

.link-contact {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;

}



.contact_profile {
    display: flex;

}


.img {
    border-radius: 2rem;
    object-fit: contain;
}


#c-gray {
    color: grey;
}


/* notification */
.notifications-container {
    width: 80%;
    height: 50px;
    display: flex;
    margin: auto;



}


.silent {
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;



}


.notifications-messages {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    line-height: 1.5;
}

.notifications {
    padding: 5px;


}


.notification-desktop {
    text-decoration: underline;
    color: gray;
    display: contents;
}




.color {
    color: #8EDAFC;

}


/* search */
.container-search {
    width: 80%;
    margin: auto;
    display: flex;
    background-color: white;
    height: 40px;
    align-items: center;

}

.m-left {
    margin-left: 1rem;
    color: #787878;

}


/* contacts_list */
.container-list {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}



.font {
    font-size: small;
    margin-top: 5px;
}



.hours {

    color: gray;
    font-size: smaller;
}

.display-left-none {
    display: flex;
}


/* prompt */

.container-prompt {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: 80%;
    align-items: center;
}


.text {
    height: 80%;
    background-color: white;
    width: 85%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: gray;

    >input {
        width: 100%;
        height: 80%;
        outline: auto;
        outline-color: white;
    }
}



.font-x-lg {
    font-size: x-large;

}



.hours-chat {
    text-align: end;
}




.d-f {
    display: flex;
}


.p-l {
    padding-left: 0.5rem;

    >input {
        width: 13rem;
        outline: auto;
        outline-color: white;

    }


}



/* bonus */
nav:hover li {

    display: flex;



}


nav:hover .list-sent{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.list-sent {
    background-color: white;
    width: 150px;
    height: 80px;
    position: fixed;
    display: none;

}

.d-n {
    list-style: none;
    display: none;



}